
<f:layout name="Default" />

<f:section name="content">

    <f:flashMessages />

    <h2><f:translate key="LLL:EXT:cooluri/Resources/Private/Language/locallang_fix1.xlf:mlang_labels_form_heading" /></h2>

    <p><f:translate key="LLL:EXT:cooluri/Resources/Private/Language/locallang_fix1.xlf:mlang_labels_form_description" /></p>

    <f:form action="list" class="form-inline">
        <f:form.textfield name="url" size="100" value="{url}" class="form-control"/>
        <f:form.submit value="{f:translate(key:'LLL:EXT:cooluri/Resources/Private/Language/locallang_fix1.xlf:mlang_labels_form_button_find' )}" class="btn btn-primary"/>
    </f:form>


    <f:for each="{urls}" as="u">
        <div class="row">
            <div class="col-md-1">
                <f:link.action action="delete" arguments="{id : u.id}" class="btn btn-warning btn-sm"><f:translate key="LLL:EXT:cooluri/Resources/Private/Language/locallang_fix1.xlf:mlang_labels_form_button_delete" /></f:link.action>
            </div>
            <div class="col-md-5">
                {u.url}
            </div>
            <div class="col-md-6">
                {u.parameters}
            </div>
        </div>
    </f:for>

</f:section>